<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kimonoちゃんコメビュ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <kimonoちゃんコメビュ.Properties.Settings>
            <setting name="width" serializeAs="String">
                <value>510</value>
            </setting>
            <setting name="font" serializeAs="String">
                <value>Meiryo UI, 18pt, style=Bold</value>
            </setting>
            <setting name="windowwidth" serializeAs="String">
                <value>570</value>
            </setting>
            <setting name="windowhe" serializeAs="String">
                <value>1010</value>
            </setting>
            <setting name="IsUpgrade" serializeAs="String">
                <value>False</value>
            </setting>
        </kimonoちゃんコメビュ.Properties.Settings>
    </userSettings>
</configuration>